@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  // --main-color: #202125;
  // --accent-color: #FFA500;
  // --hover-color: rgb(26, 26, 26);
  // --font-color: white;
  // --card-color: #2a2c31;

  --accent-gradient: linear-gradient(
    90deg,
    rgba(251, 193, 0, 1) 0%,
    rgba(255, 150, 65, 1) 64%,
    rgba(255, 72, 0, 1) 100%
  );

  --main-color: #0c0c0c;
  --accent-color: #ff9c08;
  --hover-color: rgb(24, 24, 24);
  --font-color: white;
  --secondary-color: rgb(186, 186, 186);
  --card-color: #2a2c31;

  --nav-color: #030303;

  --red: #ff5722;
  --blue: #03a8f5;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    rgba(251, 193, 0, 0.8) 0%,
    rgba(255, 150, 65, 0.8) 64%,
    rgba(255, 72, 0, 0.8) 100%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    145deg,
    rgba(251, 193, 0, 1) 0%,
    rgba(255, 150, 65, 1) 64%,
    rgba(255, 72, 0, 1) 100%
  );
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

link {
  color: inherit !important;
  text-decoration: none !important;
}

@mixin mini {
  @media (max-width: 380px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1024px) {
    @content;
  }
}