:root {
  --back-color: #050505;
  --main-color: #0c0c0c;
  --sidebar-color: #000002;
  --border-color: #212121;
  --accent-color: #09121b;
  --font-color: #FFFFFF;

  --line-color: #929292;
  --tick-color: rgb(158, 240, 117);

  --border-radius: 6px; 

  /* --back-color: #ededed;
  --main-color: #e0e0e0;
  --sidebar-color: #ffffff;
  --border-color: #d2d2d2;
  --accent-color: #191d2c;
  --font-color: #000000;

  --line-color: #000000;
  --tick-color: rgb(149, 211, 255);

  --border-radius: 4px;  */
}


::-webkit-scrollbar {
  background-color: var(--back-color);
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757678;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #75767895;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  gap: 20px;
  background-color: var(--back-color);
}

.link {
  text-decoration: none;
  color: inherit;
}
