:root {
  --back-color: #070d19;
  --main-color: #0c1427;
  --border-color: #0f1a34;
  --accent-color: #727cf5;
  --font-color: #FFFFFF;

  --border-radius: 6px; 
}

::-webkit-scrollbar {
  background-color: var(--back-color);
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757678;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #75767895;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  gap: 20px;
  background-color: var(--back-color);
}

.link {
  text-decoration: none;
  color: inherit;
}
