:root {
  --back-color: #070d19;
  --main-color: #0c1427;
  --border-color: #0f1a34;
  --accent-color: #727cf5;
  --font-color: #FFFFFF;

  --border-radius: 1px; 
}
body {
  overflow: hidden;
}

.container {
  display: flex;
  gap: 20px;
  background-color: var(--back-color);
}

.link {
  text-decoration: none;
  color: inherit;
}
