.newProduct {
  flex: 4;
  color: var(--font-color);
  margin-top: 20px;
  overflow: auto;
  height: calc(100vh - 51px)
}

.addProductForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 10px;
}


.addProductButtonUpload {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px 20px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--button-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
  height: 40px;
  align-self: center;
}

.addProductButtonUpload:hover {
  opacity: 0.8;
}