.featured {
  height: 90vh;
  position: relative;
  margin-bottom: 50px;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#202125 0,rgba(32,33,37,0) 50%,#202125 100%);
    transition: 0.5s;
    z-index: 1;
  }

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 100;

    select {
      border: 1px solid white;
      background-color: var(--main-color);
      color: white;
      padding: 5px 10px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    width: 40%;
    position: absolute;
    left: 50px;
    bottom: 80px;
    color: white;
    z-index: 2;

    // border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    padding: 25px 15px 25px 0px;

    .info-title {
      width: 100%;
      font-weight: 600;
      text-transform: capitalize;
      font-size: 78px;
      margin-bottom: 10px;
      font-family: "Ubuntu";
    }

    .info-subtitle {
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .desc {
      margin-bottom: 25px;
      font-family: "Ubuntu";
      color: #d7d7d7;
    }

    .buttons {
      display: flex;
      gap: 5px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 20px 7px 7px;
      border-radius: 34px;
      border: none;
      gap: 5px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
        transition: all 325ms ease-out;
      }
      
      &.play {
        background-color: var(--accent-color);
        color: black;
        box-sizing: border-box;
        
        &:hover {
          color: white;
          background-color: var(--main-color);
        }
      }

      &.more {
        color: var(--accent-color);
        background-color: var(--hover-color);
      }

      .icon {
        font-size: 30px;
      }
    }
  }
}
