@import "../../app.scss";

.featured {
  height: 90vh;
  position: relative;
  margin-bottom: 50px;

  @include mobile {
    height: 75vh;
  }

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      #0c0c0c 0,
      rgba(0, 0, 0, 0.1) 50%,
      #0c0c0c 100%
    );
    transition: 0.5s;
    z-index: 1;
  }

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 100;

    select {
      border: 1px solid white;
      background-color: var(--main-color);
      color: white;
      padding: 5px 10px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    width: 40%;
    position: absolute;
    left: 50px;
    bottom: 80px;
    color: white;
    z-index: 2;
    backdrop-filter: blur(2px);

    // border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    padding: 25px 15px 25px 0px;

    @include tablet {
      width: 80%;
      bottom: 20px;
    }

    @include laptop {
      width: 70%;
    }

    @include mobile {
      width: 90%;
      left: 10px;
    }

    .info-title {
      width: 100%;
      font-weight: 600;
      text-transform: capitalize;
      font-size: 78px;
      margin-bottom: 10px;
      font-family: "Ubuntu";

      @include tablet {
        font-size: 58px;
      }

      @include mobile {
        font-size: 42px;
      }
    }

    .info-subtitle {
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .desc {
      margin-bottom: 25px;
      font-family: "Ubuntu";
      color: #d7d7d7;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .buttons {
      display: flex;
      gap: 5px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 20px 7px 7px;
      border-radius: 8px;
      border: none;
      gap: 5px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
        transition: all 325ms ease-out;
      }

      &.play {
        background-color: var(--accent-color);
        color: black;
        box-sizing: border-box;

        &:hover {
          color: white;
          background-color: var(--main-color);
        }
      }

      &.more {
        color: var(--accent-color);
        background-color: rgba(0 0 0 / 55%);
      }

      .icon {
        font-size: 30px;
      }
    }
  }
}
