.home{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 160px);
    background-color: var(--main);
    color: var(--accent);
}

.homeWidgets{
    display: flex;
    margin: 20px;
}