.home{
    display: flex;
    flex-direction: column;
    width: 96%;
    background-color: var(--back-color);
    color: var(--font-color);
    height: calc(100vh - 51px);
    overflow: auto;
}

.homeWidgets{
    display: flex;
    margin: 20px;
}