.product {
  flex: 4;
  padding: 20px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  border: none;
  padding: 10px 10px ;
  background-color: var(--border-color);
  color: var(--font-color);
  border-radius: 5px;
  font-size: 16px;
  transition: all 125ms linear;
  cursor: pointer;
}

.productAddButton:hover{
  background-color: var(--button-color);
}

.productTop {
  display: flex;
  background-color: var(--main-color);
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 100%;
  display: flex;
  gap: 30px;
}

.productInfoKey {
  width: 100px;
}

.productInfoValue {
  font-weight: 300;
  width: 90%;
  color: lightgray;
  word-wrap: break-word;
}

.productBottom {
  border-top: 2px solid var(--border-color);
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  display: flex;
  overflow: auto;
  background-color: var(--main-color);
}

.productForm {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: lightgray;
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
  background-color: transparent;
  outline: none;
  color: var(--font-color);
}

.productFormLeft > input[type*='file'] {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
  background-color: transparent;
  outline: none;
  color: var(--font-color);
}

.productFormLeft > textarea {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
  background-color: transparent;
  outline: none;
  color: var(--font-color);
}

.productFormLeft >select{
  margin-bottom: 10px;
  background-color: var(--back-color);
  color: var(--font-color);
  height: 30px;
}

.productUploadImg{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.productFormRight{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productUpload{
  display: flex;
  align-items: center;
}

.productButton{
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--button-color);
  color:white;
  font-weight: 600;
  cursor: pointer;
  transition: all 125ms linear;
}

.productButton:hover{
  background-color: var(--border-color);
}