.sidebar {
  height: calc(100vh - 51px);
  background-color: var(--sidebar-color);
  position: -webkit-sticky;
  top: 50px;
  width: 200px;
  color: var(--font-color);
  transition: none 235ms ease;
}

.sidebarWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--font-color);
}

.menu {
  font-size: 32px !important;
  padding-left: 8px;
  padding-top: 8px;
  cursor: pointer;
}

.menu:hover {
  color: rgb(137, 137, 137);
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  color: var(--font-color);
  white-space: nowrap;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: var(--border-color);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
