.userList {
  color: white;
}

.userListUser {
  display: flex;
  align-items: center;
  color: var(--font-color);
  font-weight: 600;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

.productAddButton {
  margin-bottom: 20px;
}

.header-cell {
  color: var(--font-color);
  font-weight: 700;
}

.MuiDataGrid-cell {
  color: var(--font-color) !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  border: none !important;
  color: var(--font-color);
}

.MuiDataGrid-sortIcon,
.MuiDataGrid-sortIconButton,
.MuiDataGrid-menuIcon,
.MuiDataGrid-menuIconButton,
.MuiDataGrid-filterIcon {
  color: var(--font-color) !important;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  background-color: transparent;
  color: rgba(132, 132, 132, 0.46) !important;
}