.listItem {
  height: 320px;
  width: 225px;
  background: var(--main-color);
  overflow: hidden;
  cursor: pointer;
  color: white;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1000;
  }

  &:hover {
    width: 325px;
    height: auto;
    position: absolute;
    top: -50px;
    right: 200px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(18.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    z-index: 5000;

    img {
      height: 140px;
      display: none;
    }
  }

  .itemInfo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .icons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .arrowIcons {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      div{
        display: flex;
        gap: 5px;
      }

      div > *{
        border: 2px solid white;
        padding: 2px;
        border-radius: 50%;
      }
    }

    .itemInfoTop {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      color: rgb(219, 219, 219);
      font-weight: 600;

      .age-limit {
        border: 1px solid gray;
        padding: 1px 3px;
      }
    }

    .genre {
      text-align: right;
      text-transform: uppercase;
      color: rgb(219, 219, 219);
      font-weight: 600;
    }
  }
}
